body{
    background: url(../img/clouds.jpg) center/cover;
    height: 100vh;
    color: #fff;
    text-align: center;
}
main{
    padding: 15vh 10vw;
    select{
        margin: 4vh 0 2vh;
    }
    img{
        width: 10%;
        margin: 0 auto;
    }
}